<div class="column is-4-desktop is-12-tablet">
  <div class="milestones-card">

    {% if card.image %}
      <div class="milestones-card-image mb-4">
        <figure class="image is-4by3">
          <img src="{{ card.image | relative_url }}" alt="{{ card.title }}" />
        </figure>
      </div>
    {% endif %}

    <div class="highlighted-project-card-body">
      <h3 class="title is-5 mb-2">{{ card.title }}</h3>
      
      {% if card.issuer %}
        <p class="subtitle is-6 is-italic mb-2">{{ card.issuer }}</p>
      {% endif %}

      {% if card.description %}
        <p class="subtitle is-6 mb-4">{{ card.description }}</p>
      {% endif %}

      <div class="buttons">
        {% if card.details_url %}
          <a href="{{ card.details_url | relative_url }}" class="button is-primary-btn is-small">
            <span class="icon is-small">
              <i class="fa-solid fa-id-badge"></i>
            </span>
            <span>Check credentials</span>
          </a>
        {% endif %}
      </div>
    </div>

  </div>
</div>