<section class="section highlighted-projects-cards-section">
  <div class="container">

    {% if page.highlighted_projects_heading %}
        <div class="has-text-centered mb-6">
            <h2 class="title is-2 mb-4 highlighted-projects-heading">{{ page.highlighted_projects_heading }}</h2>
            {% if page.highlighted_projects_description %}
            <p class="subtitle is-5 highlighted-projects-description">{{ page.highlighted_projects_description }}</p>
            {% endif %}
        </div>
    {% endif %}

    <div class="columns is-multiline is-desktop">
      {% for item in page.highlighted_projects %}
        <div class="column is-4-desktop is-12-tablet">
          <div class="highlighted-project-card">

            <!-- Rounded Cover Image -->
            <div class="highlighted-project-card-image mb-4">
              <figure class="image is-4by3">
                <img src="{{ item.image }}" alt="{{ item.title }}" />
              </figure>
            </div>

            <!-- Card Body Content -->
            <div class="highlighted-project-card-body">
              <h3 class="title is-5 has-text-weight-bold mb-2">{{ item.title }}</h3>
              <p class="subtitle is-6 has-text-grey mb-4">{{ item.description }}</p>
              <!-- <p class="subtitle is-6 has-text-grey mb-4">{{ item.impact }}</p> -->

              <!-- Action Buttons -->
              <div class="buttons">
                {% if item.details_url %}
                  <a href="{{ item.details_url }}" class="button is-white is-small">
                    <span class="icon is-small">
                      <i class="fa-solid fa-file-lines"></i>
                    </span>
                    <span>See details</span>
                  </a>
                {% endif %}

                {% if item.github_url %}
                  <a href="{{ item.github_url }}" class="button is-outlined is-small" target="_blank" rel="noopener noreferrer">
                    <span class="icon is-small">
                      <i class="fa-brands fa-github"></i>
                    </span>
                    <span>Check README</span>
                  </a>
                {% endif %}
              </div>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>